/* ==========================================
   RESET
========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================
   PAGE
========================================== */

body {

    background: #111827;

    color: white;

    font-family: Arial, Helvetica, sans-serif;

}

/* ==========================================
   HEADER
========================================== */

header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 25px 60px;

}

/* ==========================================
   LOGO
========================================== */

.logo {

    color: #8b5cf6;

    font-size: 34px;

    font-weight: bold;

}

/* ==========================================
   NAVIGATION
========================================== */

nav {

    display: flex;

    gap: 30px;

    align-items: center;

}

nav a {

    color: white;

    text-decoration: none;

    transition: .25s;

}

nav a:hover {

    color: #8b5cf6;

}

/* ==========================================
   BUTTON
========================================== */

.join-button {

    background: #8b5cf6;

    padding: 12px 22px;

    border-radius: 8px;

}

.join-button:hover {

    background: #6d3de0;

    color: white;

}

/* ==========================================
   HERO
========================================== */

.hero {

    text-align: center;

    margin-top: 150px;

}

.hero h1 {

    font-size: 64px;

    margin-bottom: 25px;

}

.hero p {

    font-size: 22px;

    color: #cbd5e1;

    width: 750px;

    margin: auto;

    line-height: 1.7;

}
